.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header__title {
    font-family: 'Zen Dots', cursive;
    font-size: 30px;
    line-height: 130%;
    margin: 40px auto 0;
    color: chocolate;
}
.header__navigation {
    display: flex;
    margin: 40px auto 0;
}
.header__links {
    font-family: 'Zen Dots', cursive;
    font-size: 18px;
    line-height: 130%;
    margin: 0 30px 0 0;
    color: #FFFFFF;
    text-decoration: none;
}
.header__links:hover {
    opacity: .6;
}
.header__links:last-of-type {
    margin-right: 0;
}
.header__links_active {
    color: chocolate;
    text-decoration: underline;
}
.header__links_active:hover {
    color: chocolate;
    text-decoration: underline;
    opacity: 1;
    cursor: text;
}
@media screen and (max-width: 550px) {
    .header__navigation {
        flex-direction: column;
    }
    .header__links {
        margin: 20px auto 0;
    }
    .header__links:last-of-type {
        margin-right: auto;
    }
    .header__links:first-of-type {
        margin-top: 0;
    }
}